.card {
   display: flex;
   justify-content: center;
   align-items: center;
   .card__logo {
      width: 100%;
      max-width: 180px;
      margin: 20px;
   }
}

.button-view {
   display: flex;
   justify-content: center;
   margin-top: 20px;
}
